---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import VolvoLogo from "../assets/Volvo_Logo.png";
import XebiaLogo from "../assets/Xebia_Logo_White.png";
import TSGLogo from "../assets/TSG_Logo.png";
import SenteLogo from "../assets/Sente_Logo.png";
import HuedMeLogo from "../assets/HuedMe_Logo.svg";
import NFJLogo from "../assets/NFJ_Logo.png";

type Company = {
  name: string;
  logo: ImageMetadata;
  website: string;
};

const itCompanies: Array<Company> = [
  { name: "Hued.me", logo: HuedMeLogo, website: "https://hued.me" },
  { name: "Xebia", logo: XebiaLogo, website: "https://xebia.com" },
  { name: "Ten Square Games", logo: TSGLogo, website: "https://tensquaregames.com/pl/" },
  { name: "Sente", logo: SenteLogo, website: "https://sente.pl" },
  { name: "Volvo", logo: VolvoLogo, website: "https://www.volvogroup.com/pl/" },
];

const supportCompanies: Array<Company> = [
  { name: "NoFluffJobs", logo: NFJLogo, website: "https://nofluffjobs.com" },
];
---

<Layout title="ITAD 2024 - Sponsorzy">
  <main>
    <div>
      <h1 class="start-header">Poznaj naszych sponsorów!</h1>
      <p class="center">(Tematy prelekcji zostaną wkrótce przekazane!)</p>
    </div>

    <h3 class="featured-header center">Prelegenci</h3>
    <section class="companies">
      {
        itCompanies.map((company) => (
          <a href={company.website} target="_blank" rel="noopener">
            <Image src={company.logo} class="" alt={company.name} />
          </a>
        ))
      }
    </section>

    <h3 class="featured-header center">Wsparcie</h3>
    <section class="companies support-companies">
      {
        supportCompanies.map((company) => (
          <a href={company.website} target="_blank" rel="noopener">
            <Image src={company.logo} alt={company.name} />
          </a>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  .start-header {
    margin-block: 1em;
    text-align: center;
    font-size: 5em;
  }

  .companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
    margin-bottom: 8rem;
    gap: 2rem;
    
    & > * {
      width: 25%;

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  .support-companies {
    & > * {
      width: 15%;
    }
  }

  @media screen and (max-width: 900px) {
    .start-header {
      font-size: 3em;
    }

    .companies {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-block: 3rem;
      min-height: 50vh;
      padding: 0.5rem;
      gap: 3rem;

      & > * {
        width: 60%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          width: 100%;
          height: auto;
        }
      }
    }

    .support-companies {
      & > * {
        width: 30%;
      }
    }
  }
</style>
