---
import Card from "./Card.astro";
import {Image} from "astro:assets";
import type {CompanyInfo} from "../content-types";
import {Icon} from "astro-icon";
import AstroConfig from "../../astro.config.mjs";

export interface Props {
  companies: CompanyInfo[];
}

const {companies} = Astro.props;
---

{
  companies.map((company) => (
  <div class="company-container">
    <div class="header-container">
      <div class="header-container">
        <Image
            src="/src/images/pepsi.png"
            alt="pepsi"
            width="125"
            height="100"
        />
        <h1 class="title">{company.name}</h1>
        <span class="header-description">{company.short}</span>
      </div>
    </div>
    <div class="icon-container">
      {
        company.socials.map((social) => (
            <a href={social.link} class="icon-link">
              <Icon name={social.icon} class="icon"/>
            </a>
        ))
      }
    </div>
  </div>
    ))
  }

<style>
  .company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    color: #222222;
    margin-bottom: 6rem;
  }

  .header-description {
    font-size: 1.2rem;
    color: var(--text-white);
  }

  .title {
    font-size: 8rem;
    margin: 0;
    color: var(--text-white);
  }

  .header-container {
    text-align: center;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .icon-container > a {
    padding: 2em;
  }

  @media screen and (max-width: 1400px) {
    .icon-container {
      width: 70%;
    }

    .icon-container > a {
      padding: 1em;
    }
  }

  @media screen and (max-width: 900px) {
    .title {
      font-size: 4em;
    }

    .icon-container {
      width: 90%;
    }

    .icon-container > a {
      padding: 0.2em;
    }
  }
</style>